#searchbar{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #0E9EDB;

  input {
    padding-top: 10px;    //inputların ölçüsü üçün padding verilib
    padding-bottom: 10px;
    width: 100%;    //inputun ölçünü(paddingləri) götürməsi üçün və bütün columnu tutması üçün hər ikisi 100%
    height: 100%;
  }
  input[name='submit']{
    padding-bottom: 8px !important; // Search iconu problem yaratdığı üçün padding aşağı salınıb.
    background: #48C1F3;
    border: 0;
    font-family: FontAwesome;  // inputa fontawesome əlavə etmək üçün font family verilib. search-icon: &#xf002;
    color: white;
    transition: all .3s ease;
  }

}
#searchBoxDrag{
    top:7%;
    left: 2%;
    width: 230px;
    height: 250px;
    background-color:rgba(52,73,94,0.9);
    z-index: 999;
    position: absolute;
    color: #efefef;
     cursor: move;
    ul{
        clear: both;
        padding-left: 25px;
        li{
            list-style: none;
            padding-top: 17px;
            select{
                border:0px;
                width: 180px;
                height: 35px;
                color: grey;
            }
            label{
                margin-bottom: 0px;
            }
        }
    }

    p{
        padding: 10px;
        clear: both;
    }
}
// Map styles
#googlemap{
  iframe{
    width: 100%;
    height: 400px;
  }
}
